.todos-filter {
  color: #fefefe;
  padding: 0 1rem;
}

.todos-filter__control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.todos-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.todos-filter select {
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}
