*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Makes sure that 1rem = 10px */
  /* Default is 1rem = 16px */
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

:root {
  --color-dark: #2f3640;
  --color-dark--lighter: #353b48;
  --color-green: #27ae60;
  --color-red: #d63031;
  --color-grey: #ecf0f1;
  --color-light: #f5f5f5;
  --default-border-radius: 8px;
}

.header {
  background-color: var(--color-dark);
}

body {
  background-color: var(--color-dark--lighter);
}

.header__brand {
  color: var(--color-green);
  font-size: 2.2rem;
  padding: 1rem;
}

.header__nav,
.container__toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav-item {
  color: var(--color-grey);
  font-size: 1.8rem;
  padding: 1rem;
  width: 50%;
  text-align: center;
  font-weight: 100;
}

.active {
  border-bottom: 3px solid var(--color-green);
}

.btn {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: var(--default-border-radius);
}

.btn-primary {
  background-color: var(--color-green);
}

.btn-danger {
  background-color: var(--color-red);
  color: var(--color-light);
}

.btn-header {
  width: fit-content;
  margin-right: 8px;
}

.main {
  padding: 3rem 2rem;
}

.todo-card,
.card {
  background-color: var(--color-grey);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: var(--default-border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.todo-card__title {
  font-size: 1.8rem;
}

.todo-card__description {
  font-size: 1.6rem;
}

.todo-card__date {
  font-size: 1.8rem;
  color: var(--color-red);
}

.todo-card__email {
  font-size: 1.6rem;
  color: var(--color-green);
}

progress {
  padding: 2rem;
  width: 100%;
}

.control-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.control-input {
  padding: 1rem;
}

.control-label {
  font-size: 1.8rem;
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border: 2px solid var(--color-red);
}

.progress-form {
  background-color: var(--color-dark);
  padding: 6px;
  font-weight: 100;
  color: var(--color-light);
  border-radius: var(--default-border-radius);
  margin-top: 1rem;
}

.green {
  background-color: #6ab04c;
}

.orange {
  background-color: #f0932b;
}

.orange > .todo-card__date,
.todo-card__email {
  color: black;
}

.todo-card__actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
