<header class="header">
  <div class="container__toolbar">
    <div class="header__brand">{{ headerBrandTitle }}</div>
    <div class="btn-container">
      <button class="btn btn-primary btn-header">Login</button>
      <button class="btn btn-danger btn-header">Register</button>
    </div>
    <button class="btn btn-danger btn-header">Logout</button>
  </div>
  <nav class="header__nav">
    <div class="header__nav-item">Add Todo</div>
    <div class="header__nav-item">Todo's List</div>
  </nav>
</header>
